.shopTitle{
    text-align: center;
    margin-top: 10px;
    font-size: large;
}

.products{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.product{
    border-radius: 15px;
    width: 300px;
    height: 350px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product img{
    width:200px;
    height:200px;
    align-self: center;
    position: sticky;
}

.description{
    text-align: center;
    margin-top: 10px;
}
.addToCartbtn{
    background-color: transparent;
    border: 2px solid rgb(19, 19, 19);
    width: 150px;
    align-items: center;
    margin-left: 80px;
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;

}

.addToCartbtn:hover{
   background-color: darkgrey;
   color: white;
    cursor: pointer;
}